<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="evoii_drone">
  <!--default values are in meters and radians-->
  
  <!-- ZED Mini Camera -->
  <xacro:arg name="camera_name"   default="zed" />
  <xacro:arg name="camera_model"  default="zedm" />
  <xacro:arg name="use_zed_localization" default="true" />
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" /> 
  <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" />
  <!-- Add a joint to connect the ZED Camera to the robot -->
  <xacro:if value="$(arg use_zed_localization)">
    <!-- ZED Localization -> The reference link is '$(arg camera_name)_camera_link' and 'base_link' is a child -->
    <joint name="$(arg camera_name)_joint" type="fixed">
      <parent link="$(arg camera_name)_camera_link"/>
      <child link="base_link"/>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0"
      />
    </joint>
  </xacro:if>
  <xacro:unless value="$(arg use_zed_localization)">
    <!-- NO ZED Localization -> '$(arg camera_name)_camera_link' is a child of 'base_link' -->
    <joint name="$(arg camera_name)_joint" type="fixed">
      <parent link="base_link"/>
      <child link="$(arg camera_name)_camera_link"/>
      <origin
        xyz="0.12 0.0 0.25"
        rpy="0 0 0"
      />
    </joint>
  </xacro:unless>

  <!-- Basic Drone Structure -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.5 0.2"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <!-- Horizontal LiDAR -->
  <joint name="horizontal_lidar_joint" type="fixed">
    <origin xyz="-0.04 0.00 0.07" rpy="3.141 0 0"/> <!-- Adjust position and orientation -->
    <parent link="base_link"/>
    <child link="horizontal_laser_link"/>
  </joint>

  <link name="horizontal_laser_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Vertical LiDAR -->
  <joint name="vertical_lidar_joint" type="fixed">
    <origin xyz="-0.192 0 0.005" rpy="3.141 -1.57079 0"/> <!-- Adjust position and orientation -->
    <parent link="base_link"/>
    <child link="vertical_laser_link"/>
  </joint>

  <link name="vertical_laser_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Materials -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

</robot>
